
      body {
        background: linear-gradient(120deg, #4e73df, #1cc88a);
        min-height: 100vh;
        align-items: center;
        justify-content: center;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      .card {
        border-radius: 20px;
        box-shadow: 0 10px 30px rgba(240, 209, 107, 0.568);
        animation: fadeIn 1s ease-in-out;
      }
      @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateY(20px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
      .btn-custom {
        background: #1cc88a;
        color: white;
        font-weight: bold;
        padding: 20px 20px 20px 20px;
      }
      .btn-custom:hover {
        background: #17a673;
      }
 